src/main/resources/META-INF/validation-configuration-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2017 DV Bern AG
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ limitations under the License.
  -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   attributeFormDefault="unqualified"
		   elementFormDefault="qualified"
		   targetNamespace="http://jboss.org/xml/ns/javax/validation/configuration"
		   version="1.0">
	<xs:element xmlns:config="http://jboss.org/xml/ns/javax/validation/configuration"
				name="validation-config"
				type="config:validation-configType"/>
	<xs:complexType name="validation-configType">
		<xs:sequence>
			<xs:element type="xs:string" name="default-provider" minOccurs="0"/>
			<xs:element type="xs:string" name="message-interpolator" minOccurs="0"/>
			<xs:element type="xs:string" name="traversable-resolver" minOccurs="0"/>
			<xs:element type="xs:string" name="constraint-validator-factory" minOccurs="0"/>
			<xs:element type="xs:string" name="constraint-mapping" maxOccurs="unbounded" minOccurs="0"/>
			<xs:element xmlns:config="http://jboss.org/xml/ns/javax/validation/configuration"
						type="config:propertyType"
						name="property"
						maxOccurs="unbounded"
						minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="propertyType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" use="required" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>